:root{
    --verde: rgb(0, 221, 7);
    --amarelo: rgb(255, 238, 0);
    --laranja: rgb(255, 136, 0);
    --vermelho: rgb(255, 0, 0);
    --fundo: rgba(0,0,0,1);
  }
  html{
    background-color: var(--fundo);
    color: #b3b3b3;
  }
  .efeito-verde:hover{
    text-shadow: 0 0 10px var(--verde), 2px 2px 2px rgba(206,89,55,0);
  }
  .efeito-amarelo:hover{
    text-shadow: 0 0 10px var(--amarelo), 2px 2px 2px rgba(206,89,55,0);
  }
  .efeito-laranja:hover{
    text-shadow: 0 0 10px var(--laranja), 2px 2px 2px rgba(206,89,55,0);
  }
  .efeito-vermelho:hover{
    text-shadow: 0 0 10px var(--vermelho), 2px 2px 2px rgba(206,89,55,0);
  }
  .container{
    margin: 0 10%;
  }